<div class="bg-gray-100">
  <div class="flex justify-center items-center content">
    <div class="shadow sm:rounded-md sm:overflow-hidden w-3/6">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6 w-full">
        <%= form_with(model: @gif, local: true, multipart: true) do |form| %>
          <% if @gif.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(gif.errors.count, "error") %> prohibited this gif from being saved:</h2>

              <ul>
                <% @gif.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <div class="mb-6">
            <%= form.label :image, class: "label hidden" %>
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
            <%= form.file_field :image, direct_upload: true, data: { dropzone_target: 'input' } %>
            <div class="dropzone-msg dz-message needsclick text-gray-600">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
              <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file type .gif</span>
              </div>
            </div>
          </div>

          <div class="mb-6">
            <%= form.label :tags, class: "block text-sm font-medium text-gray-700 my-2", hint: "(separated with commas)" %>
            <%= form.text_field :tag_list, class: "appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
          </div>

          <div class="mb-6">
            <%= form.submit  class: "cursor-pointer bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-2 rounded-md text-sm font-medium w-full mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <div class="bg-gray-100">
  <div class="flex justify-center items-center content">
    <div class="shadow sm:rounded-md sm:overflow-hidden w-3/6">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6 w-full">
        <%#= simple_form_for(@gif) do |f| %#>
          <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
            <%#= f.input :image, as: :file, input_html: { data: { direct_upload_url: '/rails/active_storage/direct_uploads' } , target: 'dropzone.input' } %#>
            <div class="dropzone-msg dz-message needsclick text-gray-600">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
              <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
            </div>
          </div>
          <%#= f.input :tag_list, input_html: { class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"}, label: "Add tags (separated by commas)", label_html: { class: "block text-sm font-medium text-gray-700 mt-2" } %#>
          <%#= f.submit class: "bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-2 rounded-md text-sm font-medium w-full mt-2" %#>
        <%# end %#>
      </div>
    </div>
  </div>
</div> -->
