<div class="bg-gray-100">
  <div class="flex justify-center items-center content">
    <div class="shadow sm:rounded-md sm:overflow-hidden w-3/6">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6 w-full">
        <% if @gif.image.attached? %>
          <%= cl_image_tag @gif.image.key, class: "object-cover max-h-96 w-full" %>
        <% end %>
        <div class="w-full flex" data-controller="clipboard">
          <input data-clipboard-target="source" readonly type="text" value="<%= cl_image_path @gif.image.key %>" class="bg-gray-800 appearance-none border-2 border-gray-800 rounded-l-lg w-full py-2 px-4 text-white leading-tight text-sm focus:border-yellow-500 focus:text-white focus:outline-none">
          <button data-action="clipboard#copy" data-clipboard-target="button" class="bg-yellow-500 focus:bg-yellow-600 text-white px-3 py-2 rounded-r-lg text-sm font-medium focus:outline-none">Copy</button>
        </div>
        <div class="p-3">
        <p class="text-sm text-gray-500 my-2"> Uploaded by <%= link_to @gif.user.name, user_path(@gif.user), class: "text-yellow-500"  %></p>
          <div class="flex">
            <div class="flex-grow">
              <% @gif.tag_list.each do |tag_name| %>
                <div class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-500 text-white">
                  <%= link_to tag_name, random_gif_path(tag: tag_name) %>
                </div>
              <% end %>
            </div>
            <% if user_signed_in? && current_user == @gif.user %>
              <div class="flex space-x-4">
                <%= link_to edit_gif_path(@gif) do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                <% end %>
                <%= link_to gif_path(@gif), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
