<div class="bg-gray-100">
  <div class="flex justify-center items-center content">
    <div class="shadow sm:rounded-md sm:overflow-hidden w-3/6">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6 w-full">
        <%= cl_image_tag @gif.image.key, class: "object-cover max-h-96 w-full" %>
        <div class="w-full flex" data-controller="clipboard">
          <input data-clipboard-target="source" readonly type="text" value="<%= cl_image_path @gif.image.key %>" class="bg-gray-800 appearance-none border-2 border-gray-800 rounded-l-lg w-full py-2 px-4 text-white leading-tight text-sm focus:border-yellow-500 focus:text-white focus:outline-none">
          <button data-action="clipboard#copy" data-clipboard-target="button" class="bg-yellow-500 focus:bg-yellow-600 text-white px-3 py-2 rounded-r-lg text-sm font-medium focus:outline-none">Copy</button>
        </div>
        <div class="p-3">
        <p class="text-sm text-gray-500 my-2"> Uploaded by <%= @gif.user.name %></p>
          <div class="flex">
            <div class="flex-grow">
              <% @gif.tag_list.each do |tag_name| %>
                <div class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-<%=['green','blue', 'pink', 'purple', 'gray', 'yellow', 'indigo'].sample%>-400 text-white">
                  <%= link_to tag_name, random_gif_path(tag: tag_name) %>
                </div>
              <% end %>
            </div>
            <% if user_signed_in? && current_user == @gif.user %>
            <div>
              <%= link_to 'Edit', edit_gif_path(@gif) %>
              <%= link_to 'Delete', gif_path(@gif), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
